version: '3.8'
services:
  backend:
    build: ./backend
    container_name: spring_backend
    ports:
      - "8080:8080"
    networks:
      - app_net

  frontend:
    build: ./frontend
    container_name: flutter_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app_net

networks:
  app_net:
    driver: bridge