version: '3.8'

services:
  backend:
    build: ./backend
    container_name: spring_api
    restart: always
    ports:
      - "8080:8080"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build:
      context: ./frontend
      args:
        # 루트의 .env 파일에 정의된 BASE_URL을 빌드 시점에 주입
        - BASE_URL=${BASE_URL}
    container_name: flutter_web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"